@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f8fa;
    margin: 1rem 2rem;
}

.hamburger {
    background: transparent;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: #ffffff;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    padding: 70px 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 26px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 18px 0;
}

.sidebar ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #555;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.sidebar ul li.active a {
    background-color: #5a3cf7;
    color: #fff !important;
}

.sidebar ul li .hovere:hover {
    color: black;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}